<div class="middleCentered">
    <h1> Bine ai venit, {{username}} !</h1>
    <h3> Jucători : </h3>
    <ul>
        <li *ngFor='let user of connectedUsers'> {{user.username}}
            <span *ngIf='username != user.username'>
                <button class="btn btn-success" (click)="onUserClick(user)"> Provoacă </button>
            </span>
            <span *ngIf='username == user.username'> (Tu) </span>
        </li>
    </ul>
</div>


<div id="modalLobby" class="modal" #modal>
    <div class="modal-content">
      <p>{{modalMessage}}</p>
      <button class="closeModal" class="btn btn-primary" style="margin-bottom: 15px;" (click)="play(opponentData)"> Acceptă </button>
      <button class="closeModal" class="btn btn-primary" (click)="closeModal()"> Nu joc </button>
    </div>
</div>